<div class="container">
    <div class="jumbotron">
        <h1>Face Recognition</h1>
        <h2>一个可以识别脸部的web应用</h2>
        <a href="user/new" class="btn btn-lg btn-success">现在就注册！</a>
    </div>
</div>
